.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .location {
        background-color: #EDF0F5;
        padding: 20px;
        border-radius: 10px;
        min-width: 333px;
        width: 80%;
        box-shadow:  5px 10px 8px #313131;
        margin-bottom: 50px;
        position: relative;
        
        h2 {
            border-bottom: 2px solid #000;
            padding-bottom: 12px;
            margin-bottom: 17px;
            display: inline-block;
        }

        p {
            margin-top: 5px;
        }

        .locationInfo {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .locationLeft {
                width: 50%;
            }

            .locationRight {
                width: 50%;

                img {
                    position: absolute;
                    top: 1%;
                    right: 1%;
                }
            }
        }  
    }

    .forecast {
        background-color: #EDF0F5;
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        box-shadow:  5px 10px 8px #313131;

        h2 {
            border-bottom: 2px solid #000;
            padding-bottom: 5px;
            margin-bottom: 25px;
            display: inline-block;
        }

        h3 {
            border-bottom: 2px solid #000;
            padding-bottom: 5px;
            margin-bottom: 10px;

            display: inline-block;
        }

        p {
            margin-top: 5px;
        }

        .forecastList {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            
            .forecastDay {
                background-color: #EDF0F5;
                padding: 20px;
                border: 1px solid #000;
                border-radius: 5px;
                box-shadow:  2px 2px 10px #313131;
                margin-bottom: 25px;
                position: relative;
        
                p {
                    margin-top: 5px;

                    img {
                        position: absolute;
                        top: 1%;
                        right: 1%;
                    }
                }

                .forecastInfo {
                    display: flex;

                    div {
                        margin-right: 35px;
                    }
                }
            }
        }
    }
}